<div class="container">
    <div class="row" style='direction:rtl;'>
        <div class="card w-100 mb-2">
            <div class="row">
                <div class="col-md-3">
                    <img class="m-1 w-100 img-fluid" style="max-height: 200px;" src="http://nlpfarsi.ir/sysnews_img/photos/2063161.jpg" alt="احمد سمیعی (گیلانی)">
                </div>
                <div class="card-body text-right col-md-9">
                    <h5 class="card-title rtl">
                        <a href="http://nlpfarsi.ir/content/cid/4047/">احمد سمیعی (گیلانی)</a>
                    </h5>
                    <p>
                        <span>به گزارش </span>
                        <strong>خبرگزاری کتاب ایران (ایبنا)،</strong>
                        <span>پس از درگذشت شادروان ابوالحسن نجفی، عضو فقید پیوسته و مدیر گروه ادبیات تطبیقی فرهنگستان زبان و ادب
                            فارسی، غلامعلی حدّاد عادل، رئیس فرهنگستان زبان و ادب فارسی، احمد سمیعی (گیلانی)، عضو پیوسته و
                            مدیر گروه ادبیات معاصر فرهنگستان را به سرپرستی گروه ادبیات تطبیقی منصوب کرد.</span>
                    </p>
                </div>
            </div>
            <!--.row-->
        </div>

        <div class="card w-100 mb-2">
            <div class="row">
                <div class="col-md-3">
                    <img class="m-1 w-100 img-fluid" style="max-height: 200px;" src="http://nlpfarsi.ir/sysnews_img/photos/2063161.jpg" alt="احمد سمیعی (گیلانی)">
                </div>
                <div class="card-body text-right col-md-9">
                    <h5 class="card-title rtl">
                        <a href="http://nlpfarsi.ir/content/cid/4047/">احمد سمیعی (گیلانی)</a>
                    </h5>
                    <p>
                        <span>به گزارش </span>
                        <strong>خبرگزاری کتاب ایران (ایبنا)،</strong>
                        <span>پس از درگذشت شادروان ابوالحسن نجفی، عضو فقید پیوسته و مدیر گروه ادبیات تطبیقی فرهنگستان زبان و ادب
                            فارسی، غلامعلی حدّاد عادل، رئیس فرهنگستان زبان و ادب فارسی، احمد سمیعی (گیلانی)، عضو پیوسته و
                            مدیر گروه ادبیات معاصر فرهنگستان را به سرپرستی گروه ادبیات تطبیقی منصوب کرد.</span>
                    </p>
                </div>
            </div>
            <!--.row-->
        </div>

        <div class="card w-100 mb-2">
            <div class="row">
                <div class="col-md-3">
                    <img class="m-1 w-100 img-fluid" style="max-height: 200px;" src="http://nlpfarsi.ir/sysnews_img/photos/2063161.jpg" alt="احمد سمیعی (گیلانی)">
                </div>
                <div class="card-body text-right col-md-9">
                    <h5 class="card-title rtl">
                        <a href="http://nlpfarsi.ir/content/cid/4047/">احمد سمیعی (گیلانی)</a>
                    </h5>
                    <p>
                        <span>به گزارش </span>
                        <strong>خبرگزاری کتاب ایران (ایبنا)،</strong>
                        <span>پس از درگذشت شادروان ابوالحسن نجفی، عضو فقید پیوسته و مدیر گروه ادبیات تطبیقی فرهنگستان زبان و ادب
                            فارسی، غلامعلی حدّاد عادل، رئیس فرهنگستان زبان و ادب فارسی، احمد سمیعی (گیلانی)، عضو پیوسته و
                            مدیر گروه ادبیات معاصر فرهنگستان را به سرپرستی گروه ادبیات تطبیقی منصوب کرد.</span>
                    </p>
                </div>
            </div>
            <!--.row-->
        </div>
    </div>
</div>