<div class="container">
    <div class="row">

        <div class="col-md-3 card">

            <div class="out ">
                <div class="card-header">
                    <div class="row">
                        <div class="icon col-md-3">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="col-md-9"> hai test test etstmdasdmfsdf</div>
                    </div>
                </div>
                <div class="card-body">
                    hai hai ahhajsdkkas;lkd asd asd a sd as d asd asasd

                </div>
            </div>

        </div>

        <div class="col-md-3 card">

            <div class="out ">
                <div class="card-header">
                    <div class="row">
                        <div class="icon col-md-3">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="col-md-9"> hai test test etstmdasdmfsdf</div>
                    </div>
                </div>
                <div class="card-body">
                    hai hai ahhajsdkkas;lkd asd asd a sd as d asd asasd

                </div>
            </div>

        </div>

        <div class="col-md-3 card">

            <div class="out ">
                <div class="card-header">
                    <div class="row">
                        <div class="icon col-md-3">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="col-md-9"> hai test test etstmdasdmfsdf</div>
                    </div>
                </div>
                <div class="card-body">
                    hai hai ahhajsdkkas;lkd asd asd a sd as d asd asasd

                </div>
            </div>

        </div>

        <div class="col-md-3 card">

            <div class="out ">
                <div class="card-header">
                    <div class="row">
                        <div class="icon col-md-3">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="col-md-9"> hai test test etstmdasdmfsdf</div>
                    </div>
                </div>
                <div class="card-body">
                    hai hai ahhajsdkkas;lkd asd asd a sd as d asd asasd

                </div>
            </div>

        </div>

        <div class="col-md-3 card">

            <div class="out ">
                <div class="card-header">
                    <div class="row">
                        <div class="icon col-md-3">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="col-md-9"> hai test test etstmdasdmfsdf</div>
                    </div>
                </div>
                <div class="card-body">
                    hai hai ahhajsdkkas;lkd asd asd a sd as d asd asasd

                </div>
            </div>

        </div>

        <div class="col-md-3 card">

            <div class="out ">
                <div class="card-header">
                    <div class="row">
                        <div class="icon col-md-3">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="col-md-9"> hai test test etstmdasdmfsdf</div>
                    </div>
                </div>
                <div class="card-body">
                    hai hai ahhajsdkkas;lkd asd asd a sd as d asd asasd

                </div>
            </div>

        </div>

        <div class="col-md-3 card">

            <div class="out ">
                <div class="card-header">
                    <div class="row">
                        <div class="icon col-md-3">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="col-md-9"> hai test test etstmdasdmfsdf</div>
                    </div>
                </div>
                <div class="card-body">
                    hai hai ahhajsdkkas;lkd asd asd a sd as d asd asasd

                </div>
            </div>

        </div>

        <div class="col-md-3 card">

            <div class="out ">
                <div class="card-header">
                    <div class="row">
                        <div class="icon col-md-3">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="col-md-9"> hai test test etstmdasdmfsdf</div>
                    </div>
                </div>
                <div class="card-body">
                    hai hai ahhajsdkkas;lkd asd asd a sd as d asd asasd

                </div>
            </div>

        </div>

        <div class="col-md-3 card">

            <div class="out ">
                <div class="card-header">
                    <div class="row">
                        <div class="icon col-md-3">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="col-md-9"> hai test test etstmdasdmfsdf</div>
                    </div>
                </div>
                <div class="card-body">
                    hai hai ahhajsdkkas;lkd asd asd a sd as d asd asasd

                </div>
            </div>

        </div>

        <div class="col-md-3 card">

            <div class="out ">
                <div class="card-header">
                    <div class="row">
                        <div class="icon col-md-3">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="col-md-9"> hai test test etstmdasdmfsdf</div>
                    </div>
                </div>
                <div class="card-body">
                    hai hai ahhajsdkkas;lkd asd asd a sd as d asd asasd

                </div>
            </div>

        </div>

        <div class="col-md-3 card">

            <div class="out ">
                <div class="card-header">
                    <div class="row">
                        <div class="icon col-md-3">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="col-md-9"> hai test test etstmdasdmfsdf</div>
                    </div>
                </div>
                <div class="card-body">
                    hai hai ahhajsdkkas;lkd asd asd a sd as d asd asasd

                </div>
            </div>

        </div>

        <div class="col-md-3 card">

            <div class="out ">
                <div class="card-header">
                    <div class="row">
                        <div class="icon col-md-3">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="col-md-9"> hai test test etstmdasdmfsdf</div>
                    </div>
                </div>
                <div class="card-body">
                    hai hai ahhajsdkkas;lkd asd asd a sd as d asd asasd

                </div>
            </div>

        </div>

        <div class="col-md-3 card">

            <div class="out ">
                <div class="card-header">
                    <div class="row">
                        <div class="icon col-md-3">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="col-md-9"> hai test test etstmdasdmfsdf</div>
                    </div>
                </div>
                <div class="card-body">
                    hai hai ahhajsdkkas;lkd asd asd a sd as d asd asasd

                </div>
            </div>

        </div>

        <div class="col-md-3 card">

            <div class="out ">
                <div class="card-header">
                    <div class="row">
                        <div class="icon col-md-3">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="col-md-9"> hai test test etstmdasdmfsdf</div>
                    </div>
                </div>
                <div class="card-body">
                    hai hai ahhajsdkkas;lkd asd asd a sd as d asd asasd

                </div>
            </div>

        </div>



    </div>
</div>